#partTitle {
    font-weight: 500;
    font-size: large;
    text-align: center;
    position: relative;
    top: 25%;
    -ms-transform: translateY(-25%);
    -webkit-transform: translateY(-25%);
    transform: translateY(-25%);
}